{#
 # -------------------------------------------------------------------------
 # DocumensoBridge plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of DocumensoBridge.
 #
 # DocumensoBridge is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # DocumensoBridge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with DocumensoBridge. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @author    François Legastelois
 # @copyright Copyright (C) 2016-2022 by DocumensoBridge plugin team.
 # @license   AGPLv3 https://www.gnu.org/licenses/agpl-3.0.html
 # -------------------------------------------------------------------------
 #}

{% import "components/form/fields_macros.html.twig" as fields %}

<div class="hr-text">
    <i class="fa-2x ti ti-clipboard-list"></i>
    <span>{{ __("Configuration", 'documensobridge') }}</span>
</div>

<form name='form' action='{{ action }}' method='post' class='left'>
    <input type="hidden" name="id" value="1">
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">

    <div class="hr-text">
        <span>{{ __("Sign fields values", 'documensobridge') }}</span>
    </div>

    {{ fields.textField(
        'page_value',
        item.fields['page_value'],
        __('Page number', 'documensobridge'),
        {'type': 'number', 'step': 'any', 'min': '1'}
    ) }}

    {{ fields.textField(
        'posX_value',
        item.fields['posX_value'],
        __('X axis value', 'documensobridge'),
        {'type': 'number', 'step': 'any', 'min': '0'}
    ) }}

    {{ fields.textField(
        'posY_value',
        item.fields['posY_value'],
        __('Y axis value', 'documensobridge'),
        {'type': 'number', 'step': 'any', 'min': '0'}
    ) }}

    {{ fields.textField(
        'height_value',
        item.fields['height_value'],
        __('Height value', 'documensobridge'),
        {'type': 'number', 'step': 'any', 'min': '0'}
    ) }}

    {{ fields.textField(
        'width_value',
        item.fields['width_value'],
        __('Width value', 'documensobridge'),
        {'type': 'number', 'step': 'any', 'min': '0'}
    ) }}

    <div class="hr-text">
        <span>{{ __("Document categories names", 'documensobridge') }}</span>
    </div>

    {{ fields.textField(
        'category_name_requester',
        item.fields['category_name_requester'],
        __('Requester category name', 'documensobridge')
    ) }}

    {{ fields.textField(
        'category_name_observer',
        item.fields['category_name_observer'],
        __('Observer category name', 'documensobridge')
    ) }}

    <div class="hr-text">
        <span>{{ __("Documenso connection", 'documensobridge') }}</span>
    </div>

    {{ fields.textField(
        'documenso_api_key',
        item.fields['documenso_api_key'],
        __('Documenso API Key', 'documensobridge')
    ) }}

    <div class="hr"></div>

    <div class="hstack gap-1">
        <div class="pe-5 ms-auto">
            <button class="btn btn-primary" type="submit" name="update" value="1">
                <i class="ti ti-device-floppy"></i>
                <span>{{ _x('button', 'Save') }}</span>
            </button>
        </div>
    </div>
</form>


